<%- include('navbar.ejs') %>

<section>   
<div class="container  pb-5 pt-5 " style="width: 90%;">
<form action="/admin/update_Career_resume_section" method="post" enctype="multipart/form-data">
    <div class="container  p-5 bg-secondary navbar-dark" style="box-shadow:0px 5px 10px red;" >
        <div class="row">
            <div class="pt-3  col-md-12 mt-2 mb-5">
                <h1 class="text-primary  text-center">Edit Resume  Section</h1>
            </div>
            <div class="pt-3  col-md-6 mt-2">
                Resume Page Heading
                <input type="text" required name="Edit_Resume_heading" class="form-control" value="<%=resume_heading%>">
            </div>
            <div class="pt-3  col-md-6 mt-2">
                Resume Page Title
                <input type="text" name="Edit_Resume_title" class="form-control" value="<%=resume_title%>">
            </div>
            <div class="pt-3  col-md-6 mt-2">
                Resume Page Sharing Link
                <input type="text" name="Edit_Resume_Link" class="form-control" value="<%=resume_link%>">
            </div>
            <div class="pt-3  col-md-6 mt-2">
                Resume Page Background Image:
                <input type="file" name="Edit_Resume_image" class="form-control" >
            </div>
            <div class="pt-3  col-md-6 mt-2">
                <input type="hidden"  name="Edit_Resume_id" class="form-control" value="<%=resume_id%>">
                <input type="hidden" name="current_image" value="<%=resume_image %>">
            </div>
            <div class="pt-3 col-md-3 mt-2 text-center">
                <img src="/img/<%=resume_image %>" alt="" style="height: 70px; width: 70px;" >
            </div>
            <div class="col-md-12 mt-5 text-center">
                <button class="btn btn-md text-white " style="background-color:red ";>Save Infromation</button>
            </div>
        </div>

    </div>
</form>
</div>
</section>
<%- include('footer.ejs') %>
