<%- include('navbar.ejs') %>

<section>

<div class="container pb-5 pt-5 " style="width: 90%;">
<form action="/admin/update_app" method="post" enctype="multipart/form-data">
<div class="container  p-5 bg-secondary navbar-dark" style="box-shadow:0px 5px 10px red;" >
    <div class="row">
        <div class="pt-3  col-md-12 mt-2 mb-5">
            <h1 class="text-primary  text-center">Edit Application Section</h1>
        </div>
        <div class="pt-3  col-md-6 mt-2">
            <input type="hidden" name="app_id" value="<%=app_data[0].app_id%>">
            <input type="hidden" name="current_image" value="<%= app_data[0].app_image %>">
            Application Title
            <input type="text" name="app_title" class="form-control" value="<%=app_data[0].app_title%>">
        </div>
        <div class="pt-3  col-md-6 mt-2">
            Application Subtitle
            <input type="text" name="app_subtitle" class="form-control" value="<%=app_data[0].app_subtitle%>">
        </div>
        <div class="pt-3  col-md-6 mt-2">
            Application Discription
            <input type="text" name="app_desc" class="form-control" value="<%=app_data[0].app_desc%>">
        </div>
        <div class="pt-3  col-md-6 mt-2">
            Application Image
            <input type="file" name="app_image" class="form-control bg-dark">
        </div>

        <div class="pt-3  col-md-6 mt-2">
            <img src="/img/<%=app_data[0].app_image%>" alt="" style="height: 80px; width: 80px;">
        </div>
        <div class="col-md-12 mt-5 text-center">
            <button class="btn btn-md text-white " style="background-color:red ";>Update Unlock</button>
        </div>
    </div>

</div>
</form>
</div>

</section>


<%- include('footer.ejs') %>