<%- include('navbar.ejs') %>

<section>

<div class="container pb-5 pt-5 " style="width: 90%;">
<form action="/admin/update_unlock" method="post" enctype="multipart/form-data">
<div class="container  p-5 bg-secondary navbar-dark" style="box-shadow:0px 5px 10px red;" >
    <div class="row">
        <div class="pt-3  col-md-12 mt-2 mb-5">
            <h1 class="text-primary  text-center">Unlock Section</h1>
        </div>
        <div class="pt-3 col-md-6 mt-2">
            <input type="hidden" name="unlock_id" value="<%=unlock_data[0].unlock_id%>">
            <input type="hidden" name="current_image" value="<%= unlock_data[0].unlock_image %>">
            Unlock Title
            <input type="text" name="unlock_title" class="form-control" value="<%=unlock_data[0].unlock_title%>">
        </div>
        <div class="pt-3  col-md-6 mt-2">
            Unlock Image
            <input type="file" name="unlock_image" class="form-control bg-dark">
        </div>

        <div class="pt-3 text-center col-md-4 mt-2">
           <img src="/img/<%=unlock_data[0].unlock_image%>" alt="" style="height: 80px; width: 80px;">
        </div>
        <div class="col-md-12 mt-5 text-center">
            <button class="btn btn-md text-white " style="background-color:red ";>Update Unlock</button>
        </div>
    </div>

</div>
</form>
</div>
</section>


<%- include('footer.ejs') %>