<%- include('navbar.ejs') %>

<section>

<div class="container pb-5 pt-5 " style="width: 90%;">
<form action="/admin/save_founder" method="post" enctype="multipart/form-data">
<div class="container  p-5 bg-secondary navbar-dark" style="box-shadow:0px 5px 10px red;" >
    <div class="row">
        <div class="pt-3  col-md-12 mt-2 mb-5">
            <h1 class="text-primary  text-center">Founder Section</h1>
        </div>
        <div class="pt-3  col-md-6 mt-2">
            Founder Image
            <input type="file" required name="founder_image" class="form-control bg-dark">
        </div>
        <div class="pt-3  col-md-6 mt-2">
            Founder Name
            <input type="text" required name="founder_name" class="form-control bg-dark">
        </div>

        <div class="pt-3  col-md-6 mt-2">
            Founder Position
            <input type="text" required name="founder_position" class="form-control bg-dark">
        </div>

        <div class="col-md-12 mt-5 text-center">
            <button class="btn btn-md text-white " style="background-color:red ";>Save Explore</button>
        </div>

    </div>

</div>
</form>
</div>
<div class="container p-5 shadow bg-secondary navbar-dark" style="width: 90%;box-shadow:0px 5px 10px red !important;">
<div class="row">
    <div class="col-md-12">
    
        <h1 class="text-primary  text-center mb-4">Founder & CEO Section</h1>

        <table class="table table-lg border shadow">
            <tr class="text-center">
                <th>Action</th>
                <th>SN</th>
                <th>Founde Image</th>
                <th>Founder Name</th>
                <th>Founder Position</th>
            </tr>

            <%
            for(i=0;i<founder_detail.length;i++) { %>

                <tr class="text-center">
                    <td>
                        <a href="/admin/edit_founder/<%=founder_detail[i].founder_id%>">
                            <button class="btn btn-outline-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></button>
                        </a>
                        <a href="/admin/delete_founder/<%=founder_detail[i].founder_id%>" onclick="return confirm('Sure,Delete')">
                            <button class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></button>
                        </a>
                    </td>

                    <td><%=i+1%></td>
                    <td>
                        <img src="/img/<%=founder_detail[i].founder_image%>" alt="" style="height: 80px; width: 80px;">
                    </td>
                    <td><%=founder_detail[i].founder_name%></td>
                    <td><%=founder_detail[i].founder_position%></td>
                </tr>

            <% } %>
         
      
        </table>
    </div>
</div>
</div>
</section>


<%- include('footer.ejs') %>